@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap');

* {
    font-family: 'Quicksand', sans-serif;
}

#tasks .task {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: #ECEFF6;
    padding: 12px 1rem;
    border-radius: 0.5rem;
    margin-bottom: 1.25rem;
}

#tasks .task .content {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 8px;
}

#tasks .task .content .text {
    outline: none;
    border: none;
    font-size: 1.125rem;
    color: #578FDB;
    background-color: transparent;
    letter-spacing: 0.03em;

}

#tasks .task .actions {
    display: flex;
    gap: 4px;
}

#tasks .task .actions i {
    color: #374457;
}

.task .actions button {
    cursor: pointer;
    border: none;
    font-size: 18px;
    font-weight: 700;
    text-transform: uppercase;
    transition: 0.4s;
}

.task .actions button:hover {
    opacity: 0.6;
}

.task .actions button:active {
    opacity: 0.4;
}

.spacing {
    height: 40px;
    background-color: transparent;
}

.bottom_navbar {
    position: absolute;
    bottom: 1rem;
    right: 0;
    left: 0;
    margin-inline: 1.5rem;
    background-color: #0d6efd;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 0.25rem 1.25rem;
    border-radius: 4px;

}

.bottom_navbar .volume {
    height: 24px;
    width: 70px;
    background-color: #FDFDFD;
    border-radius: 4px;
}

#currentTime {
    margin-right: 4px;
}


.timer-wrapper{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#timer-controls{
    width: 100%;
}

.timer {
    width: 10rem;
    height: 10rem;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 1px 6px 21px 12px rgba(104,104,104,0.25);
    -webkit-box-shadow: 1px 6px 21px 12px rgba(104,104,104,0.25);
    -moz-box-shadow: 1px 6px 21px 12px rgba(104,104,104,0.25);
}

.timer .circle{
    width: 9rem;
    height: 9rem;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #578FDB;
    position: relative;
}

.timer .circle::before{
    content: "";
    position: absolute;
    width: 95%;
    height: 95%;
    border-radius: 50%;
    background-color: #FDFDFD;
}

.time{
    position: relative;
    display: flex;
    flex-direction: row;
}

.time p{
    margin: 0;
    font-size: 2.4rem;
}

.time p:nth-of-type(2){
    position: relative;
    top: -.3rem;
    margin-inline: 0.5rem;
}